VITE_FIREBASE_WEB_API_KEY= # Firebase API key
VITE_FIREBASE_AUTH_DOMAIN= # Firebase auth domain
VITE_FIREBASE_PROJECT_ID= # Firebase project ID
VITE_FIREBASE_APP_ID= # Firebase application ID
VITE_TEMP_NUMBER_BACKEND_API_BASE_PATH= # API url (example, https://test.com)
VITE_TELEGRAM_BOT_ID= # Telegram Bot ID
VITE_TEMP_NUMBER_FRONTEND_BASE_APP_URL= # Base App url (example, https://test.com/app)
VITE_TEMP_NUMBER_WEB_ENABLED_PAYMENT_GATEWAYS= # Enabled payment gateways (example, ["stripe","paypal","crypto","alipay_qq_wechat"])
VITE_CDN_BASE_URL= # CDN base URL (example, https://cdn.test.com)
VITE_RECAPTCHA_ENTERPRISE_ENABLED= # Google recaptcha enterprise enabled (1/0)
VITE_RECAPTCHA_ENTERPRISE_SITE_KEY= # Google recaptcha enterprise site key (Required only when VITE_RECAPTCHA_ENTERPRISE_ENABLED is enabled)
VITE_ALIPAY_QQ_WECHAT_STORE_URL= # AliPay, QQ, WeChat coupons store URL (Required only when alipay_qq_wechat gateway is enabled)
VITE_CRISP_WEBSITE_ID= # Crisp live chat website ID
VITE_CSP_ENABLED= # Content Security Policy enabled (1/0)
VITE_ACTIVE_OTHER_PAY_GATEWAYS= # Enabled other payment sub-gateways (example, ["pix_br","alipay_cn","unionpay_cn","kakaopay_kr","toss_kr"])
