.fade-height-enter-active,
.fade-height-leave-active {
  transition:
    opacity 0.3s ease-in-out,
    max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
  will-change: opacity, max-height;
  overflow: hidden;
}

.fade-height-enter-from {
  opacity: 0;
  max-height: 0;
  padding: 0;
}

.fade-height-leave-to {
  opacity: 0;
  max-height: 500px;
}

.fade-height-enter-to,
.fade-height-leave-from {
  opacity: 1;
  max-height: 500px;
}
