.modal-enter-from {
  opacity: 0;
  transform: scale(0.95);
}

.modal-enter-to {
  opacity: 1;
  transform: scale(1);
}

.modal-enter-active {
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

.modal-leave-from {
  opacity: 1;
  transform: scale(1);
}

.modal-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.modal-leave-active {
  transition:
    opacity 0.2s ease-in,
    transform 0.2s ease-in;
}
